* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  cursor: default;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  zoom: 1;
}

/*定义竖屏 css*/
@media screen and (orientation:portrait) {
  body {
    background-image: url('../img/mbgimg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}

/*定义横屏 css*/
@media screen and (orientation:landscape) {
  body {
    background-image: url('../img/bgimg.jfif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}


/*顶栏*/
.top {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8884ff;
  position: relative;
}

/* logo */
.logo,
.top>a {
  height: 100%;
  /* z-index: 0; */
}

/* 侧栏按钮 */
.SidebarButton {
  width: 28px;
  height: 26px;
  position: absolute;
  right: 20px;
  top: 35px;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition: all .4s;
}

.SidebarButton .i {
  width: 100%;
  height: 4px;
  background-color: lightgrey;
  border-radius: 2px;
  position: absolute;
}

.SidebarButton .i:nth-child(1) {
  top: 0;
}

.SidebarButton .i:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.SidebarButton .i:nth-child(3) {
  bottom: 0;
}

.SidebarButton.open {
  transform: translateX(-280px) translateY(-50%);
  position: fixed;
}

/* 侧栏 */
.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -350px;
  background-color: white;
  box-shadow: 5px 5px 20px lightgray;
  border-radius: 15px 0 0 15px;
  box-sizing: border-box;
  transition: all .4s;
}

.sidebar-top {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  background-color: skyblue;
  border-radius: 15px 0 0 0;
}

.sidebar.open {
  transform: translateX(-350px);
}

/* 侧栏内容 */
.menu {
  width: 100%;
  margin-left: 30px;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu>p>a {
  font-size: 27px;
}

.submenu>p>a {
  font-size: 25px;
}

.menu>p:hover a {
  color: #8884ff;
}

.submenu,
.subsubmenu {
  font-size: 20px;
  width: 100%;
  margin-left: 15px;
}

#log:target {
  height: 100px;
}


/*整体*/
.whole {
  height: 100%;
  margin-top: 15px;
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
}

/* 更新日期 */
.whole>p {
  position: absolute;
  top: -8px;
  right: 13px;
  color: lightgray;
  font-size: 0.7em;
}

.st,
.nd,
.rd,
.th {
  width: 20%;
}

@media screen and (max-width: 1450px) {

  .st,
  .nd,
  .rd,
  .th {
    width: 35%;
  }
}

@media screen and (max-width: 850px) {

  .st,
  .nd,
  .rd,
  .th {
    width: 70%;
    min-width: 300px;
  }
}

dl {
  background-color: rgb(255, 255, 255, 0.8);
  /* width: 250px; */
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

dt {
  text-indent: 1em;
  transition: .1s;
}

dt:hover {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  transform: scale(105%);
}

dt:active {
  transform: translateY(4px) scale(103%);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

dt a {
  height: 50px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0;
  cursor: default;
}

.cs {
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*美化滚动条*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}